.center {
  display: block;
  margin: 0 auto;
  width: 40%;
  padding-top: 109px;
}

.search-bar {
  display: block;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  position: absolute;
  top: 30px;
}
  

.buttons {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  left: 400px;
}