.center {
  display: block;
  margin: auto;
  width: 31%;
  padding-top: 109px;
}

.text-entry {
  width: 527px;
  height: 34px;
  border: thin;
  border-radius: 15px;
  border-style: solid;
  border-color: rgb(211, 210, 210);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
  
.buttons {
  display: block;
  text-align: center;
  padding-top: 25px;
}

.button-1 {
  width: 135px;
    height: 30px;
    border: thin;
    background-color: rgb(245, 245, 245);
}

.button-2 {
  width: 135px;
  height: 30px;
  border: thin;
  background-color: rgb(245, 245, 245);
}

.footer {
  display: block;
  width: 100vw;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: rgb(218, 216, 216);
  height: 50px;
}

ul {
  margin: 5px;
  padding: 5px;       
}
li {
  list-style-type: none;
  float: left;
  padding: 12px;
  font-family: Arial, sans-serif;
  font-size: 13px;
}

